/* Globale Stylesheets */

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
}

img {
    border: none;
}

/* Kopfzeile */
.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.ui.main {
    margin-top: 6em;
}

.ui.main nav {
    margin-bottom: 4em;
}