<div class="ui segment">
    <h2 class="ui header">Neuste Filme</h2>
    <div class="ui divider"></div>
    <div class="ui link cards five column doubling stackable">

        <div class="card" onclick="window.location = 'detail_view.html'">
            <div class="image">
                <img src="http://lorempixel.com/500/650">
            </div>
            <div class="content">
                <div class="header">V wie Vendetta</div>
                <div class="meta">
                    <a>SiFi</a>
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    102min
                </span>
            </div>
        </div>

    </div>
</div>
<div class="ui segment">
    <h2 class="ui header">Beste Bewertung</h2>
    <div class="ui divider"></div>
    <div class="ui link cards five column doubling stackable">

        <div class="card" onclick="window.location = 'detail_view.html'">
            <div class="image">
                <img src="http://lorempixel.com/500/650">
            </div>
            <div class="content">
                <div class="header">V wie Vendetta</div>
                <div class="meta">
                    <a>SiFi</a>
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    102min
                </span>
            </div>
        </div>

    </div>
</div>