<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Base</title>

        <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
        <script src="static/js/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/moviebase.css">
    </head>
    <body>
        <header class="ui container">
            <div class="ui fixed inverted menu">
                <a href="#" class="header item">
                    <img src="http://lorempixel.com/32/32/" width="32" height="32" class="logo">
                    Movie Base
                </a>
                <a href="./" class="item">Dashboard</a>
                <a href="movies" class="item">Filme</a>
                <a href="search.html" class="item">Suchen</a>
                <a href="statistics.html" class="item">Statistik</a>
                <div class="right menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input placeholder="Suchen..." type="text">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="ui main container">
            {{{body}}}
        </main>
    </body>
</html>
